:root{
    --primary-color: #2c3e50;
    --secondary-color: #1abc9c;
    --light-petrol: #3a546d;
}

.ms_primary_color{
    background-color: var(--primary-color);
}

.ms_secondary_color{
    background-color: var(--secondary-color);
}

.ms_light_petrol{
    background-color: var(--light-petrol);
}

.ms_secondary_text{
    color: var(--secondary-color);
}

/*                  regole css          */

header {
    height: 70px;
}

main{
    margin-top: 70px;
}

.ms_filter {
    filter: invert(1);
}

.ms_red_card{
    background-color: #ba4b63;
}

.ms_msui_card{
    background-color: #1ea4b6;
}

.ms_black_card{
    background-color: #140f0f;
}

.ms_light_blue_card{
    background-color: #1c83c1;
}

.ms_blue_card{
    background-color: #0e38b5;
}

.ms_buff_card{
    background-color: #ccb2a3;
}

.ms_ph-color::placeholder{
    color: black;
}

.ms_circle_border{
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
}